.formian-form {
	width: 100%;
	display: flex;
	font-size: 1.4em;
	flex-basis: 100%;
	flex-flow: column;

	label,legend {
		display: block;
		margin: 0 0 0 5px;
	}

	fieldset {
		border: none;
		padding: 0;
	    margin: 0 5px;

		&.fieldset-radio {
			border: 2px solid $gray-dark;

			&:focus-within {
				border-color: $color-info;
			}
		}
	}

	.input-container.fieldset {
		width: 100%;

	    display: flex;
		flex-basis: 100%;
		flex-flow: row;
		flex-wrap: wrap;
	}

	.input-container {
		position: relative;
		width: 100%;
		font-size: inherit;
		margin: 5px;
	    min-height: 25px;
		margin: 5px 0;
		padding: 0 5px;

		// global input container styles
		input,select,textarea {
			outline: none;
			resize: none;
			cursor: pointer;
			border: 2px solid $gray-dark;
			-webkit-appearance: none;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			width: 100%;
			margin: 5px 0 10px;
			text-transform: none;
			padding: 5px;
			font-size: 1rem;

			&:focus,&:hover {
				outline: none;
				border-color: $color-info;
			}
		}
	}
}
