.formian-form {
	width: 100%;
	display: flex;
	font-size: 1.4em;
	flex-basis: 100%;
	flex-flow: column;

	label,legend {
		display: block;
		margin: 0;
	}

	fieldset {
		border: none;
		padding: 0;
	}

	.input-container.fieldset {
		width: 100%;
		margin: 5px;
	    display: flex;
		flex-basis: 100%;
		flex-flow: row;
		flex-wrap: wrap;
	}

	.input-container {
		position: relative;
		width: 100%;
		font-size: inherit;
		margin: 5px;
	    min-height: 25px;

		// global input container styles
		input,select,textarea {
			outline: none;
			resize: none;
			cursor: pointer;
			border: 2px solid $color-info;
			-webkit-appearance: none;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			width: 100%;
			margin: 5px 0 10px;
			text-transform: none;
			padding: 5px;
			font-size: 1rem;

			&:focus,&:hover {
				outline: none;
				border-color: $color-info;
			}
		}
	}
}
